.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.gradient-text {
  background: linear-gradient(90deg, #29FFD9 0%, #30F3FF 100%);
  font-weight: 400;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

html h3 {
  font-size: 32px;
  font-weight: 600;
}

html h4 {
  color: #fff;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: fit-content;
}

html h4::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 98%;
  height: 2px;
  background: linear-gradient(90deg, #29FFD9 0%, #30F3FF 100%);
}

header {
  height: 100vh;
}

header nav {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  display: flex;
}

header ul li {
  margin: 0 25px;
  cursor: pointer;
  transition: 200ms;
}

header ul li:hover {
  transform: translateY(-2px);
  color: #29FFD9;
}

header .landing {
  margin-top: 100px;
  padding: 20px 0 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
}

header .landing__info {
  max-width: 750px;
}

header .landing__info h4 {
  padding-top: 50px;
  margin: 0;
}

header .landing__info h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 110%;
  margin-top: 15px;
}

header .landing__info h2 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin-top: 25px;
  font-weight: 300;
  color: #ccc;
}

header .landing__info__cta {
  display: flex;
  margin-top: 50px;
}

header .landing__info__cta__button {
  padding: 15px 50px;
  font-size: 24px;
  background: linear-gradient(90deg, #29FFD9 0%, #30F3FF 100%);
  cursor: pointer;
  transition: 200ms;
}

header .landing__info__cta__button:hover {
  transform: translateY(-2px);
}

header .landing__info__cta__button--contact {
  color: #000;
  font-weight: bold;
  border: 2px solid transparent;
}

header .landing__info__cta__button--about {
  margin-left: 40px;
  font-weight: 600;
  border: solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(90deg, #29FFD9 0%, #30F3FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .landing__picture {
  position: relative;
  width: 443px;
}

header .landing__picture--square {
  position: absolute;
  left: -30px;
}

header .landing__picture--portrait {
  z-index: 2;
  position: relative;
}

header .landing__picture--circle {
  position: absolute;
  z-index: 3;
  bottom: -100px;
  right: -25px;
}

header .landing__scroll {
  display: block;
  margin: 150px auto 0;
}

main .about {
  margin-top: 100px;
}

main .about__info {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

main .about__info__card {
  max-width: 320px;
  text-align: center;
}

main .about__info__card h3 {
  margin: 20px 0;
}

main .about__info__card p {
  line-height: 30px;
  font-weight: 300;
  font-weight: 18px;
}

main .skills__info {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

main .skills__info__block ul {
  margin-top: 25px;
  text-transform: uppercase;
}

main .skills__info__block ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

main .skills__info__block ul li img {
  margin-right: 20px;
  width: 40px;
}
/*# sourceMappingURL=style.css.map */