//colors
$black: #000
$white: #fff
$accent: #29FFD9
$gradient: linear-gradient(90deg, #29FFD9 0%, #30F3FF 100%)

//fonts
$poppins: 'Poppins', sans-serif
$work-sans: 'Work Sans', sans-serif

.wrapper
    width: 90%
    max-width: 1300px
    margin: 0 auto

.gradient-text
    background: $gradient
    font-weight: 400
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

html
    background-color: $black
    color: $white
    font-family: $poppins
    scroll-behavior: smooth

    h3
        font-size: 32px
        font-weight: 600

    h4
        color: $white
        margin: 0 auto
        font-family: $work-sans
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 5px
        width: fit-content

        &::after
            content: ""
            display: block
            margin-top: 10px
            width: 98%
            height: 2px
            background: $gradient

header
    height: 100vh

    nav
        padding: 70px 0
        display: flex
        justify-content: center
        align-items: center

    ul
        list-style-type: none
        font-family: $poppins
        font-size: 18px
        font-weight: 300
        display: flex

        li
            margin: 0 25px
            transition: 200ms
            &:hover
                transform: translateY(-2px)
                color: $accent

            a
                text-decoration: none
                color: inherit

    .landing
        margin-top: 100px
        padding: 20px 0 0
        font-family: $poppins
        display: flex
        justify-content: space-between

        &__info
            max-width: 750px

            h4
                padding-top: 50px
                margin: 0

            h1
                font-weight: bold
                font-size: 96px
                line-height: 110%
                margin-top: 15px

            h2
                font-size: 24px
                line-height: 36px
                letter-spacing: 5px
                margin-top: 25px
                font-weight: 300
                color: #ccc

            &__cta
                display: flex
                margin-top: 50px

                &__button
                    position: relative
                    padding: 15px 50px
                    font-size: 24px
                    background: $gradient
                    cursor: pointer
                    transition: 200ms
                    &:hover
                        transform: translateY(-2px)

                    &--contact
                        color: $black
                        font-weight: bold
                        border: 2px solid transparent

                    &--about
                        margin-left: 40px
                        font-weight: 600
                        border: solid
                        border-image-slice: 1
                        border-width: 2px
                        border-image-source: $gradient
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent

                    a
                        position: absolute
                        width: 100%
                        height: 100%
                        top: 0
                        left: 0

        &__picture
            position: relative
            width: 443px

            &--square
                position: absolute
                left: -30px

            &--portrait
                z-index: 2
                position: relative

            &--circle
                position: absolute
                z-index: 3
                bottom: -100px
                right: -25px

        &__scroll
            display: block
            margin: 150px auto 0
            animation: scroll 2s ease-in-out infinite

main
    .about
        margin-top: 100px

        &__info
            margin: 100px 0
            display: flex
            justify-content: space-between

            &__card
                max-width: 320px
                text-align: center

                h3
                    margin: 20px 0

                p
                    line-height: 30px
                    font-weight: 300
                    font-weight: 18px

    .mission
        text-align: center

        p
            margin: 100px auto
            max-width: 600px
            line-height: 30px

    .skills

        &__info
            display: flex
            justify-content: space-between
            margin: 100px 0

            &__block

                ul
                    margin-top: 25px
                    text-transform: uppercase

                    li
                        display: flex
                        align-items: center
                        margin-bottom: 10px

                        img
                            margin-right: 20px
                            width: 40px

    .projects

        &__container
            margin: 100px 0
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 50px

            &__project
                position: relative
                overflow: hidden

                &__overlay
                    opacity: 0
                    position: absolute
                    width: 100%
                    height: 100%
                    background: rgba(0, 0, 0, 0.8)
                    top: 0
                    padding: 20px
                    transition: 200ms

                    &:hover
                        opacity: 1

                    p
                        margin-top: 10px
                        text-transform: uppercase

                    a
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%

                img
                    width: 100%

    .contacts

        &__links
            margin: 100px 0
            display: flex
            justify-content: center
            align-items: center

            img
                width: 40px
                margin: 0 20px

footer
    text-align: center
    padding-bottom: 20px

    .heart
        animation: pulse 0.7s linear infinite
        display: inline-block

//keyframes

@keyframes scroll
    0%
        transform: translateY(0)
    70%
        transform: translateY(15px)
    100%
        transform: translateY(0)

@keyframes pulse
    0%
        transform: scale(1)

    10%
        transform: scale(1.2)
