/*---FONTS---*/
$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif; 

/*---FONT WEIGHTS---*/
$normal: 400;
$medium: 500;
$bold: 700;

/*---COLORS---*/
$primary: #0496FF;
$primary-dark: #0077CC;
$complementary: #FFB30F;
$black: #222222;
$grey: #5D5D5D;
$grey-light: #EEEEEE;

/*--TYPOGRAPHY--*/
$h1: 4rem;
$h2: 1.5rem;
$h3: 2.25rem;
$h4: 1rem;
$paragraph: 0.875rem;
$button: 1rem;